.box1 {
	height: 50px;
    width: 46%;
}
.box2 {
    background-color: #254d74;
    color: white;
    height: 180px;
    width: 75%;
    float: left;
    padding: 1px 70px 15px 10px;
}
table {
	width: 88%;
    height: 361px;
    background-color: lightgrey;
}
